<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<!-- By default this servlet looks for a spring container (usually created by
	the ContextLoaderListener) and if not found, will create a new spring container.
	Also, it will populate the spring container with beans defined in the context file
	called <servlete-name>-servlet.xml or the one mentioned using the init-param
	contextConfigLocation -->
	<servlet>
		<servlet-name>s1</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/app-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
</web-app>







